<div class="sk__404-page dark-shade-1-bg static-simple-footer">
  <main id="primary" class="site-main">
    <div class="sk__logo-no-menu sk__fade-in-3 text-center">
      <img
        id="sk__main-logo"
        alt="Website logo."
        src="assets/images/Logo.png"
        style="width: 150px; height: auto; margin-top: 20px"
      />
    </div>

    <div id="smooth-wrapper" class="pushable-content">
      <div id="smooth-content">
        <!-- Hero Section / Hero Slider
				================================================== -->
        <section class="sk__hero-section sk__fade-in-1 duration-10">
          <!-- Carousel -->
          <div
            id="sk__hero-carousel-slider"
            class="sk__static-carousel-slider carousel slide dark-shade-1-bg"
          >
            <!-- Slides -->
            <div class="carousel-inner">
              <!-- Slide 1 -->
              <div
                class="carousel-item zooming active hero-slide-1 sk__hero-slider-item sk__image-back-cover"
              >
                <section
                  class="sk__parallax-background-section sk__hero-item-center-center"
                >
                  <div
                    class="sk__parallax-background-element sk__absolute sk__image-back-cover"
                    style="background-image: url(assets/images/Wallpaper-1-modified.webp)"
                  ></div>

                  <div class="container flex-helper-div"></div>

                  <!-- Hero content -->
                  <div
                    class="container sk__supercontainer sk__main-slide-content text-center"
                  >
                    <div class="row">
                      <div class="col-xl-10 offset-xl-1">
                        <span class="animated-element phase-1"></span>
                        <span class="animated-element phase-1"></span>
                        <div class="cover-text-wrapper">
                          <h2>
                            <span
                              class="sk__404 animated-element phase-1"
                              style="color: yellow"
                              >404</span
                            >
                          </h2>
                        </div>
                        <div class="cover-text-wrapper">
                          <h2 class="h2-super thin animated-element phase-1">
                            You have wandered
                            <span class="d-inline-block">way too far</span>
                          </h2>
                        </div>
                        <div class="cover-text-wrapper">
                          <p
                            class="p-super animated-element phase-1 text-white"
                          >
                            Try some of
                            <span class="d-inline-block"
                              >the following destinations</span
                            >
                            to get back on track
                          </p>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col">
                        <p class="p-v2 text-white animated-element phase-1">
                          <a href="/" class="me-3">Home</a>
                          <a href="/non-profit" class="me-3"
                            >Non Profit</a
                          >
                          <a href="/privacy-policy" class="me-3"
                            >Privacy Policy</a
                          >
                          <a href="/terms-condition">Terms & Condition</a>
                        </p>
                      </div>
                    </div>
                  </div>

                  <!-- Social icons section -->
                  <div class="container sk__supercontainer text-center">
                    <div class="row">
                      <div
                        class="col col-md-6 offset-md-3 col-xl-4 offset-xl-4 px-0"
                      >
                        <!-- Footer Social Icons Menu -->
                        <section class="footer-socials-section mt-4">
                          <h5 class="animated-element phase-1 mb-0 mb-sm-2">
                            Follow Us & Stay Informed
                          </h5>
                          <div class="footer-socials-inner">
                            <div
                              class="footer-socials animated-element phase-1 mb-0"
                            >
                              <a class="social-icons" target="_blank"
                                ><span
                                  ><span class="icon-facebook1"></span></span
                              ></a>
                              <a class="social-icons" target="_blank"
                                ><span><span class="icon-twitter1"></span></span
                              ></a>
                              <a class="social-icons" target="_blank"
                                ><span><span class="icon-behance1"></span></span
                              ></a>
                              <a class="social-icons" target="_blank"
                                ><span
                                  ><span class="icon-dribbble1"></span></span
                              ></a>
                            </div>
                          </div>
                        </section>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
              <!-- /.hero-slide-1 -->
            </div>
          </div>
          <!-- /#sk__hero-carousel-slider -->
        </section>
        <!-- /.sk__hero-section -->

        <section
          class="sk__parallax-background-section sk__parallax-fixer-section sk__parallax-fixer-ignore-height overflow-hidden"
          style="max-height: 0"
        >
          <div class="sk__parallax-background-element"></div>
        </section>

        <!-- Helper div for inserting before scripts
				================================================== -->
        <div class="sk__body-end"></div>
      </div>
      <!-- /#smooth-content -->
    </div>
    <!-- /#smooth-wrapper -->
  </main>
</div>
