<section class="sk__cta-warp position-relative sk__image-back-cover">
  <div class="container sk__powercontainer">
    <div class="row">
      <div class="col text-center">
        <div class="sk__warped-text-wrapper sk__flex-center">
          <span class="sk__warped-text">RECORD ALBUM NOW</span>
        </div>
        <h3><strong>BETTER AESTHETICS QUALITY</strong></h3>
        <a
          class="btn btn-lg btn-outline-light sk__warped-button"
          href="https://1.envato.market/a1mP7Z"
          role="button"
          >CHECK PRICING -></a
        >
      </div>
    </div>
  </div>
</section>
