<!-- Portfolio Section
    ================================================== -->
<section
  class="sk__portfolio-section sk__py-l dark-shade-2-bg sk__solid-menu-bar"
>
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col sk__heading-spacer-l">
        <h1 class="h1-small trigger-portfolio-thumbs-entrance">Artists</h1>
      </div>
    </div>
    <div class="row">
      <div class="col sk__portfolio-thumbs px-sm-3 px-md-5">
        <div class="sk__portfolio-wrapper text-center">
          <div class="sk__portfolio-item">
            <a href="/artist" class="sk__portfolio-thumblink">
              <div class="sk__pt-link-icon">
                <div class="sk__pt-link-icon-ovr-1"></div>
                <div class="sk__pt-link-icon-ovr-2"></div>
              </div>
              <div
                class="sk__portfolio-thumblink-image sk__image-back-cover"
                style="
                  background-image: url('assets/images/men.jpg');
                  filter: blur(20px);
                "
              ></div>
              <div class="portfolio-thumb-info">
                <h6>Artist Name</h6>
                <h4 class="h4-small">Premium Artist</h4>
                <p>View Artisit</p>
              </div>
            </a>
          </div>
          <div class="sk__portfolio-item">
            <a href="/artist" class="sk__portfolio-thumblink">
              <div class="sk__pt-link-icon">
                <div class="sk__pt-link-icon-ovr-1"></div>
                <div class="sk__pt-link-icon-ovr-2"></div>
              </div>
              <div
                class="sk__portfolio-thumblink-image sk__image-back-cover"
                style="
                  background-image: url('assets/images/men.jpg');
                  filter: blur(20px);
                "
              ></div>
              <div class="portfolio-thumb-info">
                <h6>Artist Name</h6>
                <h4 class="h4-small">Premium Artist</h4>
                <p>View Artisit</p>
              </div>
            </a>
          </div>
          <div class="sk__portfolio-item">
            <a href="/artist" class="sk__portfolio-thumblink">
              <div class="sk__pt-link-icon">
                <div class="sk__pt-link-icon-ovr-1"></div>
                <div class="sk__pt-link-icon-ovr-2"></div>
              </div>
              <div
                class="sk__portfolio-thumblink-image sk__image-back-cover"
                style="
                  background-image: url('assets/images/men.jpg');
                  filter: blur(20px);
                "
              ></div>
              <div class="portfolio-thumb-info">
                <h6>Artist Name</h6>
                <h4 class="h4-small">Premium Artist</h4>
                <p>View Artisit</p>
              </div>
            </a>
          </div>
          <div class="sk__portfolio-item">
            <a href="/artist" class="sk__portfolio-thumblink">
              <div class="sk__pt-link-icon">
                <div class="sk__pt-link-icon-ovr-1"></div>
                <div class="sk__pt-link-icon-ovr-2"></div>
              </div>
              <div
                class="sk__portfolio-thumblink-image sk__image-back-cover"
                style="
                  background-image: url('assets/images/men.jpg');
                  filter: blur(20px);
                "
              ></div>
              <div class="portfolio-thumb-info">
                <h6>Artist Name</h6>
                <h4 class="h4-small">Premium Artist</h4>
                <p>View Artisit</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.sk__portfolio-section -->
