<!-- Hero Section / Hero Slider
    ================================================== -->
<section class="sk__hero-section">
  <!-- Carousel -->
  <div
    id="sk__hero-carousel-slider"
    class="sk__static-carousel-slider carousel slide dark-shade-1-bg"
  >
    <!-- Slides -->
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div
        class="carousel-item zooming active hero-slide-1 sk__hero-slider-item sk__image-back-cover"
      >
        <section
          class="sk__parallax-background-section sk__hero-item-theme-style"
        >
          <div
            class="sk__parallax-background-element sk__absolute sk__image-back-cover"
            style="
              background-image: url(../assets/images/Wallpaper-1-modified.webp);
            "
          ></div>

          <div class="flex-helper-div"></div>

          <!-- Main hero heading -->
          <div class="hero-h1-box">
            <div class="cover-text-wrapper">
              <h1
                class="hero-h1 animated-element phase-1 text-center text-md-start text-white"
              >
                <!-- Superior<br />
                      Parallax<br />
                      Theme -->
                Philadelphia<br />Based<br />Production Company
              </h1>
            </div>
          </div>

          <!-- Bottom Left box -->
          <div class="hero-box-bottom-left text-center text-sm-start">
            <a
              class="btn btn-outline-light animated-element phase-1 mb-4"
              href="/contact-us"
              role="button"
              >REACH US</a
            >
          </div>
        </section>
      </div>
      <!-- /.hero-slide-1 -->
    </div>
    <!-- /.carousel-inner -->
  </div>
  <!-- /#sk__hero-carousel-slider -->
</section>
<!-- /.sk__hero-section -->
