<nav
  id="main-nav"
  style="opacity: 0"
  class="sk__menu navbar sk__navbar navbar-expand-lg navbar-dark static-top"
>
  <!-- Desktop Menu Logo -->
  <a class="navbar-brand" href="#"
    ><img id="sk__main-logo" alt="Website logo." src="assets/images/Logo.png"
  /></a>

  <!-- The Menu -->
  <ul class="navbar-nav ms-auto">
    <!-- Mobile Menu Logo (only use if "close" buttons are set to false in JS) -->
    <li data-nav-custom-content class="custom-content sk__mobile-menu-logo">
      <a class="sk__mobile-navbar-brand" href="#"
        ><img alt="Website mobile logo." src="assets/images/Logo.png"
      /></a>
    </li>

    <!-- Regular Menu Items Start -->
    <li class="nav-item menu-item-has-children">
      <a class="nav-link hvr-underline-from-center" href="/">Home</a>
    </li>
    <li class="nav-item menu-item-has-children">
      <a class="nav-link hvr-underline-from-center" href="/non-profit"
        >Non Profit</a
      >
    </li>
    <li class="nav-item menu-item-has-children">
      <a class="nav-link hvr-underline-from-center" href="privacy-policy"
        >Privacy Policy</a
      >
    </li>
    <li class="nav-item menu-item-has-children">
      <a class="nav-link hvr-underline-from-center" href="terms-condition"
        >Terms & Condition</a
      >
    </li>
    <li class="nav-item menu-item-has-children">
      <a class="nav-link hvr-underline-from-center" href="contact-us"
        >Contact Us</a
      >
    </li>
    <li class="nav-item menu-item-has-children">
      <a class="nav-link hvr-underline-from-center" href="not-found">404</a>
    </li>

    <!-- Regular Menu Items End -->

    <!-- Mobile Menu Social Icons -->
    <li data-nav-custom-content class="custom-content sk__menu-socials">
      <section class="footer-socials-section">
        <h3><strong>Connect</strong> with us</h3>
        <div class="footer-socials-inner">
          <div class="footer-socials">
            <a
              class="social-icons"
              target="_blank"
              ><span><span class="icon-facebook1"></span></span
            ></a>
            <a
              class="social-icons"
              target="_blank"
              ><span><span class="icon-twitter1"></span></span
            ></a>
            <a
              class="social-icons"
              target="_blank"
              ><span><span class="icon-behance1"></span></span
            ></a>
            <a
              class="social-icons"
              target="_blank"
              ><span><span class="icon-dribbble1"></span></span
            ></a>
          </div>
        </div>
      </section>
    </li>
  </ul>
</nav>
