<!-- Skills Section
    ================================================== -->
<section
  id="skills"
  class="sk__skills sk__parallax-background-section sk__py-m sk__centered-y-section"
>
  <!-- Parallax background -->
  <div
    class="sk__parallax-background-element sk__absolute sk__image-back-cover"
    style="
      background-image: url(assets/images/Studio-image-0.jpeg);
      filter: grayscale(100%);
    "
  ></div>
  <div class="sk__tint sk__absolute"></div>

  <div class="container sk__supercontainer">
    <!-- Section Header -->

    <div class="row">
      <div class="col sk__features-subtext mt-4 mt-md-3">
        <div class="features-subtext-deco"></div>
        <p class="p-xs text-center text-sm-end features-subtext-p">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
          dictum sapien. Donec nec nisl eget erat varius tincidunt eu sed justo.
          Sed luctus pellentesque leo nec ultrices. Duis quis gravida elit.
        </p>
      </div>
    </div>

    <div class="row mt-5">
      <div class="col text-center text-sm-start">
        <h4 class="h4-dark h4-shadow" style="color:yellow;">Us & The People We've Worked With.</h4>
        <span class="fat-divider dark-shade-4-bg sk__mix-screen"></span>
      </div>
    </div>

    <div class="row sk__testimonials text-center text-sm-start">
      <div
        class="col-12 col-lg-6 d-flex align-items-center sk__testimonial-container"
      >
        <div
          class="sk__testimonial-img sk__image-back-cover sk__testimonial-img-1"
        ></div>
        <div class="sk__testimonial-txt">
          <p class="p-xs mw-320">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
            dictum sapien. Donec nec nisl eget erat varius tincidunt eu sed
            justo. Sed luctus pellentesque leo nec ultrices.
          </p>
          <h5>Lana Starlords</h5>
          <!-- <p>Our CEO & Founder</p> -->
        </div>
      </div>
      <div
        class="col-12 col-lg-6 d-flex align-items-center sk__testimonial-container"
      >
        <div
          class="sk__testimonial-img sk__image-back-cover sk__testimonial-img-2"
        ></div>
        <div class="sk__testimonial-txt">
          <p class="p-xs mw-320">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
            dictum sapien. Donec nec nisl eget erat varius tincidunt eu sed
            justo. Sed luctus pellentesque leo nec ultrices.
          </p>
          <h5>Mary J. Blidge</h5>
          <!-- <p>Laravel Developerette</p> -->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.sk__skills -->
