<footer class="dark-shade-2-bg position-relative">
  <div class="footer-background-container sk__absolute">
    <div
      class="sk__gradient-background-tint footer-background sk__absolute"
    ></div>
  </div>

  <div class="container sk__supercontainer position-relative">
    <div class="row footer-top">
      <div class="col-12 col-sm-6 top-footer-logo">
        <img
          src="assets/images/DP-Duality-Productions-logo-Cropped.png"
          alt="Website logo for the footer."
          style="border-radius: 10px"
        />
      </div>
      <div class="col-12 col-sm-6 top-footer-tagline">
        <h5 class="h5-elegant">ADVANCEMENT IN <strong>RECORDING</strong></h5>
      </div>
    </div>

    <span class="divider sk__subtle-divider"></span>

    <div class="row footer-main text-center text-sm-start">
      <div class="col-md-12 col-lg-6 footer-main-large-col mb-4 mb-lg-0">
        <div class="fancy-gradient-text-box">
          <h3 class="h3-elegant sk__gradient-fancy-text">
            Start your journey now.
          </h3>
        </div>
        <p class="p-v2 mw-440">
          Cultivating & Signing Some of the Best Song Writers & Producers in the
          Philly & Jersey Area.
        </p>
        <h5>Philadelphia Studio</h5>
        <p class="p-v2 mw-440">
          <span>1000 Park Avenue Philadelphia, </span><span>NY 10001, </span
          ><span>+1 (0) 212 555-0475 </span><br /><span>info@website.com</span>
        </p>
      </div>
      <div
        class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col widget_nav_menu"
      >
        <h5>Duality Porduction Links</h5>
        <ul>
          <li>
            <a href="/" class="footer-main-links gradient-links"
              >Home</a
            >
          </li>
          <li>
            <a href="/non-profit" class="footer-main-links gradient-links">Non Profit</a>
          </li>
          <li>
            <a href="/privacy-policy" class="footer-main-links gradient-links">Privacy Policy</a>
          </li>
          <li>
            <a href="/terms-condition" class="footer-main-links gradient-links">Terms & Condition</a>
          </li>
          <li>
            <a href="contact-us" class="footer-main-links gradient-links">Contact Us</a>
          </li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 footer-main-small-col">
        <div class="row">
          <div class="col">
            <!-- Footer Social Icons Menu -->
            <section class="footer-socials-section">
              <h5>Follow Us & Stay Informed</h5>
              <div class="footer-socials-inner">
                <div class="footer-socials">
                  <a
                    class="social-icons"
                    target="_blank"
                    ><span><span class="icon-facebook1"></span></span
                  ></a>
                  <a
                    class="social-icons"
                    target="_blank"
                    ><span><span class="icon-twitter1"></span></span
                  ></a>
                  <a
                    class="social-icons"
                    target="_blank"
                    ><span><span class="icon-behance1"></span></span
                  ></a>
                  <a
                    class="social-icons"
                    target="_blank"
                    ><span><span class="icon-dribbble1"></span></span
                  ></a>
                </div>
              </div>
            </section>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <!-- Widget - Subscribe
            ================================================== -->
            <div class="widget custom_subscribe_widget">
              <div class="sk__widget-inner">
                <!-- Preview Only Static Form -->
                <form class="sk__form sk__subscribe-form">
                  <div class="form-group">
                    <input
                      type="email"
                      name="the_email"
                      placeholder="Enter email address*"
                      tabindex="1"
                    />
                  </div>
                  <button type="submit" tabindex="2">SUB</button>
                </form>
              </div>
            </div>
            <!-- /.custom_subscribe_widget -->
          </div>
        </div>
      </div>
    </div>

    <span class="divider sk__subtle-divider"></span>

    <div class="row footer-bottom">
      <div class="col-xs-12 col-sm-6 col-md-4 text-center text-sm-start">
        <h5>Duality Production&#8198;</h5>
      </div>
      <div
        class="col-12 col-md-4 order-xs-3 order-sm-3 order-md-2 text-center text-sm-start text-md-center"
      >
        <p class="p-footer-copyright">
          Copyright © 2022
        </p>
      </div>
      <div
        class="col-xs-12 col-sm-6 col-md-4 order-sm-2 order-md-3 text-center text-sm-end"
      >
        <a class="footer-bottom-right-links" href="#" target="_blank"
          >Privacy</a
        >
        <a class="footer-bottom-right-links" href="#" target="_blank">Terms</a>
        <a class="footer-bottom-right-links" href="#" target="_blank"
          >Contact</a
        >
      </div>
    </div>
  </div>
</footer>
