<main id="primary" class="site-main">
  <app-curtain-effects></app-curtain-effects>

  <!-- Back to top button -->
  <div class="sk__back-to-top-wrap">
    <a class="sk__back-to-top" href="#smooth-content"
      ><span class="sk__back-to-top"></span
    ></a>
  </div>

  <!-- Navigation Menu
		================================================== -->
  <div class="sk__mobile-menu-bar"></div>

  <!-- Dynamically controlled with JS! -->
  <a class="sk__mobile-main-logo" href="#"
    ><img alt="Website logo." src="assets/images/Logo.png"
  /></a>

  <app-sidenav></app-sidenav>
  <!-- /.sk__menu -->

  <div id="smooth-wrapper" class="pushable-content">
    <div id="smooth-content">
      <!-- Hero Section / Hero Slider
				================================================== -->
      <section class="sk__hero-section">
        <!-- Carousel -->
        <div
          id="sk__hero-carousel-slider"
          class="carousel slide dark-shade-1-bg"
        >
          <!-- Hero Dots Navigation Bootstrap 5 -->
          <div class="carousel-indicators">
            <button
              type="button"
              data-bs-target="#sk__hero-carousel-slider"
              data-bs-slide-to="0"
              class="active"
              aria-current="true"
              aria-label="Slide 1"
            ></button>
            <button
              type="button"
              data-bs-target="#sk__hero-carousel-slider"
              data-bs-slide-to="1"
              aria-label="Slide 2"
            ></button>
            <button
              type="button"
              data-bs-target="#sk__hero-carousel-slider"
              data-bs-slide-to="2"
              aria-label="Slide 3"
            ></button>
            <button
              type="button"
              data-bs-target="#sk__hero-carousel-slider"
              data-bs-slide-to="3"
              aria-label="Slide 4"
            ></button>
          </div>

          <!-- Slides -->
          <div class="carousel-inner">
            <!-- Slide 1 -->
            <div
              class="carousel-item zooming active hero-slide-1 sk__hero-slider-item sk__image-back-cover"
            >
              <section
                class="sk__parallax-background-section sk__hero-item-center-center"
              >
                <div
                  class="sk__parallax-background-element sk__absolute sk__image-back-cover"
                  style="background-image: url(assets/images/Non-Profit-1.webp)"
                ></div>
                <div class="sk__tint-light sk__absolute sk__z0"></div>

                <!-- Hero content -->
                <div class="mb-2 text-center">
                  <span class="animated-element phase-1"></span>
                  <span class="animated-element phase-1"></span>
                  <div class="cover-text-wrapper">
                    <h2
                      style="color: yellow"
                      class="h2-super animated-element phase-1"
                    >
                      Non Profit Events
                    </h2>
                  </div>
                  <div class="cover-text-wrapper">
                    <h2
                      class="h2-super animated-element phase-1"
                      style="font-size: 28px"
                    >
                      Pop Up Pad Work
                    </h2>
                  </div>
                  <div class="cover-text-wrapper">
                    <h3
                      class="h3-super animated-element phase-1"
                      style="font-size: 18px; color: yellow"
                    >
                      Top U.S boxing coaches and trainers engage youth by using
                      the sport of boxing to engage youth in real life
                      conversations concerning their communities.
                    </h3>
                  </div>
                </div>
              </section>
            </div>
            <!-- /.hero-slide-1 -->

            <!-- Slide 2 -->
            <div
              class="carousel-item zooming hero-slide-2 sk__hero-slider-item sk__image-back-cover"
            >
              <section
                class="sk__parallax-background-section sk__hero-item-center-center"
              >
                <div
                  class="sk__parallax-background-element sk__absolute sk__image-back-cover"
                  style="background-image: url(assets/images/hands-up.png)"
                ></div>
                <div class="sk__tint-light sk__absolute sk__z0"></div>

                <!-- Hero content -->
                <div class="mb-2 text-center">
                  <span class="animated-element phase-1"></span>
                  <span class="animated-element phase-1"></span>
                  <div class="cover-text-wrapper">
                    <h2
                      style="color: yellow"
                      class="h2-super animated-element phase-1"
                    >
                      Non Profit Events
                    </h2>
                  </div>
                  <div class="cover-text-wrapper">
                    <h2
                      class="h2-super animated-element phase-1"
                      style="font-size: 28px"
                    >
                      Hands Up Gun's Down Boxing Tournament
                    </h2>
                  </div>
                  <div class="cover-text-wrapper">
                    <h3
                      class="h3-super animated-element phase-1"
                      style="font-size: 18px; color: yellow"
                    >
                      Highlights the best amateur talent while placing an
                      emphasis on the purpose of creating a platform to support
                      young boxers that are exposed to gun violence in their
                      communities.
                    </h3>
                  </div>
                </div>
              </section>
            </div>
            <!-- /.hero-slide-2 -->

            <!-- Slide 3 -->
            <div
              class="carousel-item zooming hero-slide-3 sk__hero-slider-item sk__image-back-cover"
            >
              <section
                class="sk__parallax-background-section sk__hero-item-center-center"
              >
                <div
                  class="sk__parallax-background-element sk__absolute sk__image-back-cover"
                  style="background-image: url(assets/images/Non-Profit-2.webp)"
                ></div>
                <div class="sk__tint-light sk__absolute sk__z0"></div>

                <!-- Hero content -->
                <div class="mb-2 text-center">
                  <span class="animated-element phase-1"></span>
                  <span class="animated-element phase-1"></span>
                  <div class="cover-text-wrapper">
                    <h2
                      style="color: yellow"
                      class="h2-super animated-element phase-1"
                    >
                      Non Profit Events
                    </h2>
                  </div>
                  <div class="cover-text-wrapper">
                    <h2
                      class="h2-super animated-element phase-1"
                      style="font-size: 28px"
                    >
                      Have Gloves Will Travel:
                    </h2>
                  </div>
                  <div class="cover-text-wrapper">
                    <h3
                      class="h3-super animated-element phase-1"
                      style="font-size: 18px; color: yellow"
                    >
                      Free boxing clinics and sparring sessions encourage novice
                      boxers to learn more about boxing and invite seasoned
                      boxers from across the region to workout together in a
                      fraternal effort to educate and grow the sport.
                    </h3>
                  </div>
                </div>
              </section>
            </div>
            <!-- /.hero-slide-3 -->

            <!-- Slide 4 -->
            <div
              class="carousel-item zooming hero-slide-4 sk__hero-slider-item sk__image-back-cover"
            >
              <section
                class="sk__parallax-background-section sk__hero-item-center-center"
              >
                <div
                  class="sk__parallax-background-element sk__absolute sk__image-back-cover"
                  style="background-image: url(assets/images/Non-Profit-3.webp)"
                ></div>
                <div class="sk__tint-light sk__absolute sk__z0"></div>

                <!-- Hero content -->
                <div class="mb-2 text-center">
                  <span class="animated-element phase-1"></span>
                  <span class="animated-element phase-1"></span>
                  <div class="cover-text-wrapper">
                    <h2
                      style="color: yellow"
                      class="h2-super animated-element phase-1"
                    >
                      Non Profit Events
                    </h2>
                  </div>
                  <div class="cover-text-wrapper">
                    <h2
                      class="h2-super animated-element phase-1"
                      style="font-size: 28px"
                    >
                      Return to Vintage Boxing Fundraiser:
                    </h2>
                  </div>
                  <div class="cover-text-wrapper">
                    <h3
                      class="h3-super animated-element phase-1"
                      style="font-size: 18px; color: yellow"
                    >
                      Annual Fundraising event where we celebrate the sweet
                      science by paying homage to great pugilists who came
                      before us through food, fashion and music to raise
                      awareness and money for a great cause.
                    </h3>
                  </div>
                </div>
              </section>
            </div>
            <!-- /.hero-slide-4 -->
          </div>

          <!-- Arrows Bootstrap 5 -->
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#sk__hero-carousel-slider"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#sk__hero-carousel-slider"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
        <!-- /#sk__hero-carousel-slider -->
      </section>
      <!-- /.sk__hero-section -->

      <section
        class="sk__parallax-background-section sk__parallax-fixer-section sk__parallax-fixer-ignore-height overflow-hidden"
        style="max-height: 0"
      >
        <div class="sk__parallax-background-element"></div>
      </section>

      <!-- News Body
				================================================== -->
      <section
        class="sk__blog-content sk__blog-main-content sk__blog-feed sk__blog-style-v1-magazine sk__py-s"
      >
        <div class="container sk__supercontainer">
          <div class="row">
            <!-- Blog Feed Column
							================================================== -->
            <div class="col-12 sk__feed-col">
              <!-- Articles Wrapper
								================================================== -->
              <div class="d-flex sk__articles-wrapper">
                <!-- Article -->
                <div class="sk__blog-article-wrapper sk__fade-in-2">
                  <div class="sk__article-magazine">
                    <article
                      class="post type-post format-standard has-post-thumbnail hentry"
                    >
                      <div class="post-image">
                        <span class="icon-eye"></span>
                        <div class="post-image-inner">
                          <a href="page-news-item.html">
                            <div
                              class="sk__in-content-post-image"
                              style="
                                background-image: url(assets/images/hands-up.png);
                              "
                            ></div>
                          </a>
                        </div>
                      </div>

                      <div class="sk__post-info py-4">
                        <header class="entry-header">
                          <h4 class="entry-title gradient-links-bright">
                            <a href="page-news-item.html" rel="bookmark"
                              >Hands Up Gun Down Logo</a
                            >
                          </h4>
                        </header>
                      </div>
                    </article>
                  </div>
                </div>

                <!-- Article -->
                <div class="sk__blog-article-wrapper sk__fade-in-2">
                  <div class="sk__article-magazine">
                    <article
                      class="post type-post format-standard has-post-thumbnail hentry"
                    >
                      <div class="post-image">
                        <span class="icon-eye"></span>
                        <div class="post-image-inner">
                          <a href="page-news-item.html">
                            <div
                              class="sk__in-content-post-image"
                              style="
                                background-image: url(assets/images/Outreach-Pic1.jpg);
                              "
                            ></div>
                          </a>
                        </div>
                      </div>

                      <div class="sk__post-info py-4">
                        <header class="entry-header">
                          <h4 class="entry-title gradient-links-bright">
                            <a href="page-news-item.html" rel="bookmark"
                              >Event Photograph 1</a
                            >
                          </h4>
                        </header>
                      </div>
                    </article>
                  </div>
                </div>

                <!-- Article -->
                <div class="sk__blog-article-wrapper sk__fade-in-2">
                  <div class="sk__article-magazine">
                    <article
                      class="post type-post format-standard has-post-thumbnail hentry"
                    >
                      <div class="post-image">
                        <span class="icon-eye"></span>
                        <div class="post-image-inner">
                          <a href="page-news-item.html">
                            <div
                              class="sk__in-content-post-image"
                              style="
                                background-image: url(assets/images/Outreach-Pic2.jpg);
                              "
                            ></div>
                          </a>
                        </div>
                      </div>

                      <div class="sk__post-info py-4">
                        <header class="entry-header">
                          <h4 class="entry-title gradient-links-bright">
                            <a href="page-news-item.html" rel="bookmark"
                              >Event Photograph 2</a
                            >
                          </h4>
                        </header>
                      </div>
                    </article>
                  </div>
                </div>

                <!-- Article -->
                <div class="sk__blog-article-wrapper sk__fade-in-2">
                  <div class="sk__article-magazine">
                    <article
                      class="post type-post format-standard has-post-thumbnail hentry"
                    >
                      <div class="post-image">
                        <span class="icon-eye"></span>
                        <div class="post-image-inner">
                          <a href="page-news-item.html">
                            <div
                              class="sk__in-content-post-image"
                              style="
                                background-image: url(assets/images/Group-Event-Pic.JPG);
                              "
                            ></div>
                          </a>
                        </div>
                      </div>

                      <div class="sk__post-info py-4">
                        <header class="entry-header">
                          <h4 class="entry-title gradient-links-bright">
                            <a href="page-news-item.html" rel="bookmark"
                              >Event Photograph 3</a
                            >
                          </h4>
                        </header>
                      </div>
                    </article>
                  </div>
                </div>
              </div>
              <!-- /.sk__articles-wrapper -->
            </div>
            <!-- /.sk__feed-col -->
          </div>
        </div>
      </section>
      <!-- /.sk__blog-content -->

      <!-- CTA Section (Warp CTA)
				================================================== -->
      <app-call-to-action></app-call-to-action>
      <!-- Footer
				================================================== -->
      <app-footer></app-footer>

      <!-- Helper div for inserting before scripts
				================================================== -->
      <div class="sk__body-end"></div>
    </div>
    <!-- /#smooth-content -->
  </div>
  <!-- /#smooth-wrapper -->
</main>
