<!-- Featured Project Section
    ================================================== -->
<section
  class="sk__featured-project-section sk__parallax-background-section dark-shade-2-bg sk__flex"
>
  <div
    class="sk__featured-project-background sk__parallax-background-element sk__absolute sk__image-back-cover"
    style="
      background-image: url(assets/images/Group-Event-Pic.JPG);
      filter: grayscale(100%);
    "
  ></div>
  <div
    class="sk__featured-project-infos-container sk__absolute sk__flex-center-y"
  >
    <div class="featured-project">
      <div class="sk__rectangles-full-left text-center text-sm-start">
        <!-- parallax area -->
        <div
          id="sk__parallax-layers-featured-project"
          class="sk__rectangles-full-left-parallax-layers"
        >
          <!-- main background deco -->
          <div
            data-depth="0.40"
            class="sk__rectangles-full-left-main-tint"
          ></div>
          <!-- white rectangle deco 1 -->
          <div data-depth="1.30" class="sk__absolute">
            <div class="sk__flex-center sk__absolute">
              <div class="sk__rectangles">
                <div class="sk__rectangle-white-1 sk__absolute"></div>
              </div>
            </div>
          </div>
          <!-- white rectangle deco 2 -->
          <div data-depth="0.70" class="sk__absolute">
            <div class="sk__flex-center sk__absolute">
              <div class="sk__rectangles">
                <div class="sk__rectangle-white-2 sk__absolute"></div>
              </div>
            </div>
          </div>
          <!-- black rectangle deco -->
          <div data-depth="1.00" class="sk__absolute">
            <div class="sk__flex-center sk__absolute">
              <div class="sk__rectangles">
                <div class="sk__rectangle-black sk__absolute"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="flex-child sk__featured-project-infos sk__solid-menu-bar">
          <h1
            class="super-heading sk__clipped-text sk__gradient-back-v1 mb-sm-1"
          >
            Non Profit<span class="heading-deco">.-></span>
          </h1>
          <h2 class="h2-regular">Non <strong>Profit</strong> Events</h2>
          <p class="mw-440">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vitae
            dictum sapien. Donec nec nisl eget erat varius tincidunt eu sed
            justo. Sed luctus pellentesque leo nec ultrices.
          </p>
          <a class="btn btn-outline-light mt-3" href="/non-profit" role="button"
            >SEE MORE</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.sk__featured-project-section -->
