<!-- About Us Section
    ================================================== -->
<section
  id="about-us"
  class="sk__about-us-section sk__parallax-background-section sk__edge-beauty sk__py-xl"
>
  <!-- Parallax background -->
  <div
    class="sk__parallax-background-element sk__absolute sk__image-back-cover"
    style="
      background-image: url(assets/images/parallax-background-section-01.webp);
      filter: sepia(0.8) hue-rotate(279deg) brightness(0.46) saturate(0.4)
        contrast(1.1);
    "
  ></div>
  <div class="sk__tint sk__absolute"></div>

  <div class="container sk__supercontainer">
    <div class="row">
      <div
        class="col-12 col-lg-6 sk__rectangles-left about-left text-center text-sm-start"
      >
        <!-- parallax area -->
        <div
          id="sk__parallax-layers-about"
          class="sk__rectangles-left-parallax-layers"
        >
          <!-- white rectangle deco 1 -->
          <div data-depth="1.30" class="sk__absolute">
            <div class="sk__flex-center sk__absolute">
              <div class="sk__rectangles">
                <div class="sk__rectangle-white-1 sk__absolute"></div>
              </div>
            </div>
          </div>
          <!-- white rectangle deco 2 -->
          <div data-depth="0.70" class="sk__absolute">
            <div class="sk__flex-center sk__absolute">
              <div class="sk__rectangles">
                <div class="sk__rectangle-white-2 sk__absolute"></div>
              </div>
            </div>
          </div>
          <!-- black rectangle deco -->
          <div data-depth="1.00" class="sk__absolute">
            <div class="sk__flex-center sk__absolute">
              <div class="sk__rectangles">
                <div class="sk__rectangle-black sk__absolute"></div>
              </div>
            </div>
          </div>
        </div>
        <h1 class="super-heading sk__clipped-text sk__gradient-back-v1 mb-sm-1">
          About Us<span class="heading-deco">.-></span>
        </h1>
        <h2 class="h2-regular">
          International <strong>Recording</strong> &
          <strong>Production</strong> Company
          <!-- Straight-shootin’ <strong>Design</strong> Psychos -->
        </h2>
        <p class="mw-440">
          Cultivating & Signing some of the Best Song Writers & Producers across
          the county and globe.
        </p>
      </div>
      <div class="col-12 col-lg-6 about-right"></div>
    </div>
    <div class="row pt-4 pb-3">
      <div
        class="col-12 col-lg-6 col-xl-5 sk__flex-center mb-4 my-lg-3 my-xl-0 px-lg-0 custom-about-number-col"
      >
        <span class="about-number text-center text-sm-start">
          <!-- 3918 -->
        </span>
      </div>
      <div
        class="col-12 col-lg-6 col-xl-7 sk__flex-center custom-about-divider-col"
      ></div>
    </div>
    <div class="row mt-4 mb-2">
      <div class="col">
        <span class="divider"></span>
      </div>
    </div>
  </div>

  <!-- Partners Section
  ================================================== -->
  <div class="sk__partners-section">
    <div class="container sk__supercontainer">
      <div class="row">
        <div class="col text-center text-sm-start">
          <h4>partners.</h4>
          <span class="fat-divider dark-shade-4-bg sk__mix-screen"></span>
        </div>
      </div>
      <div class="row sk__partners m-0 d-flex justify-content-center">
        <div class="col-xs-4 col-sm-2">
          <div class="partner partner-6 sk__image-back-cover"></div>
        </div>
        <!-- <div class="col-xs-4 col-sm-2">
          <div class="partner sk__image-back-cover"></div>
        </div>
        <div class="col-xs-4 col-sm-2">
          <div class="partner sk__image-back-cover"></div>
        </div>
        <div class="col-xs-4 col-sm-2">
          <div class="partner sk__image-back-cover"></div>
        </div>
        <div class="col-xs-4 col-sm-2">
          <div class="partner sk__image-back-cover"></div>
        </div> -->
      </div>
    </div>
  </div>
  <!-- /.sk__partners-section -->
</section>
<!-- /.sk__about-us-section -->
